<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

    <main>
      <h1 class="heading">Add a Product</h1>
      <form class="form" action="/products/add" method="POST">
        <div class="form__group">
          <label class="form__label" for="name">Product Name</label>
          <input class="form__input" type="text" id="name" name="name" required />
        </div>
        <div class="form__group">
          <label class="form__label" for="description">Description</label>
          <input class="form__input" type="text" id="description" name="description" required />
        </div>
        <button class="button" type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>
