<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

    <main>
      <h1 class="heading">Newest Product</h1>

      <% if (newestProduct && newestProduct.name && newestProduct.description) { %>
        <p>Name: <%= newestProduct.name %></p>
        <p>Description: <%= newestProduct.description %></p>
      <% } else { %>
        <div>No data available.</div>
      <% } %>
    </main>
  </body>
</html>
